@charset "UTF-8";
table > tbody > tr > td img {
    width: 100%;
    max-width: 100px;
    min-width: 100px;
}
.image_upload_preview {
    max-width: 100%;
    margin-top: 15px;
}
.box-header {
    border-bottom: 1px solid #CCC;
}
.status {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
.status-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.status-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.status-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.hidden_form {
    display: none;
}
.small-box {
	
    height: 150px !important;
    padding: 20px 0px !important;
    background: #52595d;
    color: #fff;
    
}
.small-box:hover {
	background:#3c8dbc;
}